<?php

// initialize all variables
$spsettings = $this->getExtensionPageUrl('spsettings');
$idpsettings = $this->getExtensionPageUrl('idpsettings');
$account = $this->getExtensionPageUrl('account');
$signinsettings = $this->getExtensionPageUrl('signinsettings');
$attrsettings = $this->getExtensionPageUrl('attrsettings');
$support = $this->getExtensionPageUrl('support');
$pricing = $this->getExtensionPageUrl('upgrade');
$activeTab = $this->getCurrentActiveTab();

echo'	<div style=" padding: 0 1%;">
            <div class="topnav" id="myTopnav">
              
                <a class="nav-tab '.($activeTab == 'idpsettings' ? 'active' : '').'" href="'.$idpsettings.'">1. Service Provider Metadata</a>
                <a class="nav-tab '.($activeTab == 'spsettings' ? 'active' : '').'" href="'.$spsettings.'">2. Service Provider Setup</a>
                <a class="nav-tab '.($activeTab == 'signinsettings' ? 'active' : '').'" href="'.$signinsettings.'">3. Sign In Settings</a>		
                <a class="nav-tab '.($activeTab == 'support' ? 'active' : '').'" href="'.$support.'">4. Support</a>
                <a class="nav-tab '.($activeTab == 'upgrade' ? 'active' : '').'" href="'.$pricing.'">5. Upgrade</a>
            </div>
        </div>';
