<!-- 
    This template file is for the account settings.
    File acts as a view file for our Account.
-->

<?php
    // initialize all values required on this page
    $status = $this->getRegistrationStatus();
    $userEmail = $this->getCurrentAdminUser()->getEmail();    

echo'   <div class="page" id="account">		
            <div class="mosp_table_layout">'; 

                if($status=='')
                {
                    echo $this->getLayout()
                              ->createBlock("MiniOrange\OAuth\Block\OAuth")
                              ->setTemplate("MiniOrange_OAuth::register.phtml")
                              ->toHtml();
                }
                else if(strcmp($status,'MO_OTP_EMAIL_VALIDATE')==0 
                        || strcmp($status,'MO_OTP_PHONE_VALIDATE')==0 
                        || strcmp($status,'MO_OTP_DELIVERED_FAILURE')==0)
                {
                    echo $this->getLayout()
                              ->createBlock("MiniOrange\OAuth\Block\OAuth")
                              ->setTemplate("MiniOrange_OAuth::validate.phtml")
                              ->toHtml();
                }
                else if($status=='MO_VERIFY_CUSTOMER')
                {
                    echo $this->getLayout()
                              ->createBlock("MiniOrange\OAuth\Block\OAuth")
                              ->setTemplate("MiniOrange_OAuth::verify.phtml")
                              ->toHtml();
                }
                else
                {
                    echo $this->getLayout()
                              ->createBlock("MiniOrange\OAuth\Block\OAuth")
                              ->setTemplate("MiniOrange_OAuth::profile.phtml")
                              ->toHtml();
                }

echo'       </div>
        </div>';