<!-- 
        This template shows a SSO link on the customer frontend pages 
        Use this if you want to show a sso link on your frontend pages
    -->
<?php

echo '  <a href="'.$this->getSPInitiatedUrl().'"><span>'.$this->getSSOButtonText().'</span></a>';